[submodule "thirdparty/bullet3"]
    path = thirdparty/bullet3
    url = https://github.com/CallMeTerry-ZED/bullet3.git
    branch = master

[submodule "thirdparty/entt"]
    path = thirdparty/entt
    url = https://github.com/CallMeTerry-ZED/entt.git
    branch = main

[submodule "thirdparty/fastnoise2"]
    path = thirdparty/fastnoise2
    url = https://github.com/CallMeTerry-ZED/FastNoise2.git
    branch = master

[submodule "thirdparty/glad"]
    path = thirdparty/glad
    url = https://github.com/CallMeTerry-ZED/glad.git
    branch = glad2

[submodule "thirdparty/glfw"]
    path = thirdparty/glfw
    url = https://github.com/CallMeTerry-ZED/glfw.git
    branch = master

[submodule "thirdparty/glm"]
    path = thirdparty/glm
    url = https://github.com/CallMeTerry-ZED/glm.git
    branch = master

[submodule "thirdparty/imgui"]
    path = thirdparty/imgui
    url = https://github.com/CallMeTerry-ZED/imgui.git
    branch = docking

[submodule "thirdparty/json"]
    path = thirdparty/json
    url = https://github.com/CallMeTerry-ZED/json.git
    branch = develop

[submodule "thirdparty/soloud"]
    path = thirdparty/soloud
    url = https://github.com/CallMeTerry-ZED/soloud.git
    branch = master

[submodule "thirdparty/spdlog"]
    path = thirdparty/spdlog
    url = https://github.com/CallMeTerry-ZED/spdlog.git
    branch = v1.x

[submodule "thirdparty/stb"]
    path = thirdparty/stb
    url = https://github.com/CallMeTerry-ZED/stb.git
    branch = master

[submodule "thirdparty/yojimbo"]
    path = thirdparty/yojimbo
    url = https://github.com/CallMeTerry-ZED/yojimbo.git
    branch = main

[submodule "thirdparty/zlib"]
    path = thirdparty/zlib
    url = https://github.com/CallMeTerry-ZED/zlib.git
    branch = develop